
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 6rem;
    background-color: #012a7a;
}


.contact-heading {
    text-align: center;
    margin-bottom: 2rem;
}

.contact-heading h1 {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 0.5rem;
}

.contact-heading h2 {
    font-size: 1.8rem;
    color: #fff;
}


.contact-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.contact-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.contact-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 90%;
}

.form-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-container input, 
.form-container textarea {
    padding: 12px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    color: white;
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.form-container button:hover {
    transform: scale(1.025);
}


@media screen and (max-width: 850px) {
    .contact-container {
        padding: 4rem 2rem;
    }

    .contact-content {
        flex-direction: column;
        text-align: center;
    }

    .contact-image {
        order: -1;
        margin-bottom: 2rem;
    }

    .form-container input, 
    .form-container textarea, 
    .form-container button {
        width: auto ;
    }

    .contact-heading h1 {
        font-size: 2rem;
    }

    .contact-heading h2 {
        font-size: 1.5rem;
    }
}
